@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
   

.first-page {
    height: auto;
    width: 100%;
    /* background-color: lightgray; */
}

.container {
    max-width: 1300px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow:auto;
}

.heading {
    text-align: center;
    font-size: 36px;
    color: #324a8e;
    font-family: "Poppins", sans-serif;
    padding: 80px 0 50px 0;
}

.card{
    width: 300px;
    height: 380px;
    margin: 40px;
    padding: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: all 0.5s ease;
}

.card-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 0;
    color: (var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.card-description {
    font-size: 16px;
    color: #666;
    padding: 10px   0;
    text-align: center;
    padding: 10px;
}

.card-btn {
    display: block;
    width: 100px;
    margin: 20px auto 0;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border : none;
    border-radius: 5px;
}